<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trashure App</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
        rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

  <link rel="icon" href="imagenes/favicon-32x32.png">


</head>

<body>

<!-- Navigation -->
<div th:include="usuario/template_usuario.html::headerUsuarioLogged" th:unless="${usuarioLogged==null}"></div>
<div th:include="usuario/template_usuario.html::headerUsuarioNoLogged" th:if="${usuarioLogged==null}"></div>

<!-- Page Content -->
<div class="container" style="padding-top:80px">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Trashure<small> - Historial de compras</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Página principal</a></li>
    <li class="breadcrumb-item active">Historial de compras</li>
  </ol>

  <!-- Blog Post -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">ID Transacción</th>
              <th scope="col">Fecha transacción</th>
              <th scope="col">ID Producto</th>
              <th scope="col">ID Vendedor</th>
              <th scope="col">Estado transacción</th>
              <!--th scope="col">Detalles transacción</th-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="compra: ${historialCompras}">
              <td th:text="${compra.idTransaccion}"></td>
              <td th:text="${compra.fechaTransaccion}" ></td>
              <td> <a th:href= "@{/detalleProducto/{idProducto} (idProducto=${compra.idProducto})}"> <p
                      th:text="${compra.idProducto}"></p> </a></td>
              <td> <a th:href= "@{/visitarPerfil/{idUsuario} (idUsuario=${compra.idVendedor})}"> <p
                      th:text="${compra.idVendedor}"></p> </a></td>
              <!--a th:href="@{/visitarPerfil/{idUsuario} (idUsuario=${compra.idVendedor})}"><td th:text="${compra.idVendedor}">
              </td></a-->
              <td th:text="${compra.estado}" ></td>
              <!--td><a th:href="@{/getDetalleCompra/{idTransaccion} (idTransaccion=${compra.idTransaccion})}"
                     class="btn btn-success">Ver detalles compra</a></td-->
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->

<!-- Footer -->
<div th:include="usuario/template_usuario.html::footer"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>