<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trashure</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
        rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

  <link rel="icon" href="imagenes/favicon-32x32.png">


</head>

<body>

<!-- Navigation -->
<div th:include="usuario/template_usuario.html::headerUsuarioLogged" th:unless="${usuarioLogged==null}"></div>
<div th:include="usuario/template_usuario.html::headerUsuarioNoLogged" th:if="${usuarioLogged==null}"></div>

<!-- Page Content -->
<div class="container" style="padding-top:80px">
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Trashure <small> - Favoritos <3</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Página Principal</a></li>
    <li class="breadcrumb-item active">Favoritos</li>
  </ol>

  <!-- Blog Post -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-9">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Producto</th>
              <th scope="col">ID producto</th>
              <th scope="col">Estado</th>
              <th scope="col">Disponibilidad</th>
              <th scope="col">Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="favorito:${listaFavoritos}">
              <td><a> <img class="img-fluid rounded" th:src="@{/imagenes/{imagenProducto}
                    (imagenProducto=${favorito.imagen})}" alt="Imagen producto" width="50" height="50">
              </a></td>
              <td th:text="${favorito.nombre}"></td>
              <td> <a th:href= "@{/detalleProducto/{idProducto} (idProducto=${favorito.idProducto})}"> <p
                      th:text="${favorito.idProducto}"></p> </a></td>
              <td th:text="${favorito.estado}"></td>
              <td th:text="${favorito.disponibilidad}"></td>

              <td><a th:href="@{/deleteFavorito/{idProducto} (idProducto=${favorito.idProducto})}"
                     class="btn btn-danger">Eliminar</a></td>
            </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>
<!-- /.container -->

<!-- Footer -->
<div th:include="usuario/template_usuario.html::footer"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>