
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trashure App</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
        rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

  <link rel="icon" href="imagenes/favicon-32x32.png">



<body>

<!-- Navigation -->
<div th:include="usuario/template_usuario.html::headerUsuarioLogged" th:unless="${usuarioLogged==null}"></div>
<div th:include="usuario/template_usuario.html::headerUsuarioNoLogged" th:if="${usuarioLogged==null}"></div>



<!-- Page Content -->
<div class="container" style="padding-top:80px">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3" style="text-align: center;">WELCOME TO TRASHURE</h1>
    <p class="lead" style="text-align: center;">La tienda de Slow-Shop donde puedes encontrar tesoros entre los trastos de otros</p>
  </header>



  <button onclick="window.modal.showModal();">La petición se ha procesado correctamente.</button>

  <dialog id="modal">
    <h2>Éxito</h2>
    <p>Su petición se ha procesado correctamente.</p>
    <p th:text="${success.texto}"></p>
    <button onclick="window.modal.close();"><a th:href="@{/}">Volver a la página principal</a></button>
  </dialog>




  <!-- Page Features -->
  <div class="row text-center">

    <!-- recorremos para que en cada variable producto aparezca lo que trae la variable productoList desde
     AdminController para mostrar su imagen y su nombre-->
    <div class="col-lg-3 col-md-6 mb-4" th:each="producto: ${productoList}">
      <div class="card h-100 border-light mb-3">
        <!-- se establece el source de donde obtiene las imágenes: el directorio imagenes
        llamamos img a la variable-->
        <img class="card-img-top"
             th:src="@{/imagenes/{img} (img=${producto.imagen})} " alt="">
        <div class="card-body">
          <p class="card-text" th:text="${producto.nombre}"></p>
        </div>
        <!-- así se muestra la imagen y el nombre del producto-->
        <div class="card-footer">
          <a th:href="@{/detalleProducto/{idProducto} (idProducto=${producto.idProducto})}"
             class="btn btn-success">Detalle producto</a>
          <!-- style="background-color: #ffbf00;-->
        </div>
      </div>
    </div>


  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<div th:include="~{usuario/template_usuario.html::footer}"></div>

<!--div th:include="~{usuario/template_usuario.html::headerUsuarioNoLogged}"></div-->

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>