<!-- Navigation -->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerUsuarioNoLogged">
  <!--nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"-->
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #004d1a;">
    <div class="container">
      <!--a class="navbar-brand" th:href="@{/}">Trashure</a-->
      <a class="navbar-brand" th:href="@{/}"><img src="/imagenes/logo2.png" alt="Logo Trashure" width="100" height="80" align="left"/></a>


      <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/buscarProducto}">
        <input class="form-control mr-sm-2" type="search"
               placeholder="Buscar tesoros" aria-label="Search" name="textoBusqueda"
               autocomplete="off">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">BUSCAR</button>
      </form>


      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarResponsive" aria-controls="navbarResponsive"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navegationBar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><button class="btn btn-outline-warning my-2 my-sm-0"><a class="nav-link" th:href="@{/api/v0/usuarios/logIn}">Iniciar sesión</a></button></li>

          <li class="nav-item"><button class="btn btn-warning my-2 my-sm-0"><a class="nav-link" th:href="@{/api/v0/usuarios/signUp}">Registrarse</a></button></li>
        </ul>
      </div>
    </div>
  </nav>

</div>

<div th:fragment="headerUsuarioLogged">
  <!--nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"-->
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #004d1a;">
    <div class="container">
      <a class="navbar-brand" th:href="@{/}"><img src="/imagenes/logo2.png" alt="Logo Trashure" width="100" height="80" align="left"/></a>
      <!--a class="navbar-brand" th:href="@{/}">Trashure</a-->
      <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/buscarProducto}">
        <input class="form-control mr-sm-2" type="search"
               placeholder="Buscar tesoros" aria-label="Search" name="textoBusqueda"
               autocomplete="off">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">BUSCAR</button>
      </form>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarResponsive" aria-controls="navbarResponsive"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navegBar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown"><a
                  class="nav-link dropdown-toggle" href="#"
                  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Usuario</a>

            <div class="dropdown-menu"
                 aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" th:href="@{/api/v0/usuarios/miPerfil}">Mi perfil</a>
              <a class="dropdown-item" th:href="@{/getProductos}">Mis productos</a>
              <a class="dropdown-item" th:href="@{/getFavoritos}">Mis favoritos</a>
              <a class="dropdown-item" th:href="@{/getCompras}">Historial de compras</a>
              <a class="dropdown-item" th:href="@{/getVentas}">Historial de ventas</a>
              <a class="dropdown-item" th:href="@{api/v0/usuarios/logOut}">Cerrar sesión</a>

            </div>

          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Footer -->
<div th:fragment="footer">
  <footer class="py-5" style="background-color: #004d1a;">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Trashure - 2023</p>
    </div>
  </footer>
</div>