<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trashure App</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

    <link rel="icon" href="imagenes/favicon-32x32.png">
</head>
<body>

<!-- Navigation -->
<div th:include="usuario/template_usuario.html::headerUsuarioLogged" th:unless="${usuarioLogged==null}"></div>
<div th:include="usuario/template_usuario.html::headerUsuarioNoLogged" th:if="${usuarioLogged==null}"></div>


<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 pt-16 pb-2">
        <h1 class="display-3" style="text-align: center;">Trashure</h1>
        <h3 style="text-align: center;"> Términos y Condiciones</h3>

    </header>

    <p>Los presentes Términos y Condiciones de uso establecen las condiciones bajo las cuales se ofrece a los usuarios
        el acceso al sitio web Trashure (en adelante, “el Servicio”).
        Trashure es una plataforma web que permite a los usuarios ofertar productos que ya no necesitan a los que
        quieren dar una nueva vida y pone
        en contacto a los usuarios que podrían estar interesados para que se pueda llevar a cabo una donación.
    </p>

    <p>


        El uso del Servicio convierte a quien lo lleva a cabo en usuario (en adelante, “el Usuario”) e implica
        tácitamente
        la aceptación de los Términos y Condiciones.
        En caso contrario, en el que el usuario no está de acuerdo con todos o alguno de los Términos y Condiciones,
        ha de abstenerse de hacer uso del Servicio.
    </p>
    <p>
        Por medio de la aceptación de los presentes Términos y Condiciones, el Usuario manifiesta:
    </p>

    <ul>
        <li>Que ha leído, entiende y comprende lo aquí expuesto.</li>

        <li>Que asume todas las obligaciones aquí dispuestas.</li>

        <li>Que es mayor de edad y tiene la capacidad legal suficiente para utilizar el Servicio.</li>
    </ul>

    <p>
        La aceptación de estos Términos y Condiciones por parte del Usuario es un paso previo e indispensable a la
        utilización del Servicio.
    </p>

    <p>

        Trashure se reserva el derecho a actualizar y/o modificar los Términos y Condiciones en cualquier momento bajo
        su discreción y hará
        notificación de ello a los interesados y afectados.
        Al acceder o usar los Servicios tras haberse realizado esta notificación al Usuario sobre las pertienentes
        modificaciones,
        el Usuario acepta quedar obligado por los Términos y Condiciones modificados.
        Si los Términos y Condiciones modificados no resultan aceptables al Usuario, su única opción es dejar de
        utilizar el Servicio.
    </p>

    <h4>Titular del servicio</h4>
    <p>
        El titular y propietario del Servicio es Trashure S.L. (en adelante, “Trashure”), con domicilio en Calle de la
        Pólvora, 123, 3ª planta,
        C.P. 28012, Madrid (España), provista de N.I.F. B-00000000, constituida el 15 de septiembre de 2022, ante el
        Notario
        D. Paco Geranio e inscrita en el Registro Mercantil de Barcelona, Tomo 99999, Folio 999, Hoja B-900000,
        Inscripción 1ª.
    </p>

    <h4>Necesidad de registro</h4>
    <p>
        Para poder utilizar el Servicio es necesario el previo registro del Usuario, la aceptación de los presentes
        Términos y Condiciones y la Política de Privacidad y de cookies.</p>

    <p>
        Los datos introducidos por el Usuario deberán ser exactos, actuales y veraces.
    </p>
    <p>
        El Usuario registrado será responsable en todo momento de la custodia de su contraseña, asumiendo en
        consecuencia cualesquiera daños y perjuicios que pudieran derivarse de su uso indebido, así como de la cesión,
        revelación o extravío de la misma, debiendo informar inmediatamente a Trashure en caso de que tenga motivos para
        creer que su contraseña ha sido utilizada de manera no autorizada o es susceptible de serlo. En cualquier caso,
        se considera que el Usuario es responsable por el acceso y/o uso del Servicio en relación con su cuenta, quien
        responderá en todo caso de dicho acceso y/o uso.
    </p>
    <p>
        Mediante la aceptación de los Términos y Condiciones, el Usuario consiente que sus datos pasen a formar parte
        del fichero de Trashure y el tratamiento de esos datos será conforme a lo previsto en la Política de Privacidad.
    </p>

    <h4>Normas de utilización del servicio</h4>
    <p>El Usuario se obliga a utilizar el Servicio conforme a lo establecido en la ley, la moral, el orden público
        y los presentes Términos y Condiciones. Asimismo, se obliga a hacer un uso adecuado
        del Servicio y a no emplearlo para realizar actividades ilícitas o constitutivas de delito,
        que atenten contra los derechos de terceros o que infrinjan cualquier norma del ordenamiento jurídico.
    </p>
    <p>
        El Usuario se obliga a no transmitir, introducir, difundir y/o poner a disposición de terceros, cualquier tipo
        de material
        e información (productos, objetos, datos, contenidos, mensajes, dibujos, archivos de sonido e imagen,
        fotografías, software, etc.) que sean contrarios a la ley, la moral, el orden público y
        los presentes Términos y Condiciones. A título enunciativo y en ningún caso limitativo o excluyente,
        el Usuario se compromete a:
    </p>
    <ul>
        <li> No introducir o difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico, de apología del
        terrorismo, conflicto armado, incitación al odio o que atenten contra los derechos humanos.</li>
        <li> No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido
        que atente contra los derechos fundamentales y las libertades públicas reconocidos constitucionalmente y en los
        tratados internacionales.</li>
        <li>  No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido
        que constituya publicidad ilícita o desleal.</li>
        <li> No transmitir publicidad no solicitada o autorizada, material publicitario, “correo basura”, “cartas en cadena”,
        “estructuras piramidales”, o cualquier otra forma de solicitación, excepto en aquellas áreas (tales como
        espacios comerciales) que hayan sido exclusivamente concebidas para ello.</li>
        <li> No introducir o difundir cualquier información y contenidos falsos, engañosos, ambiguos o inexactos de forma que
        induzca o pueda inducir a error a los receptores de la información.</li>
        <li>No suplantar a otros Usuarios del Servicio ni transmitir los datos de acceso a la cuenta ni la contraseña a un
        tercero sin el consentimiento de Trashure.</li>
        <li> No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido
        sin autorización de los titulares de los derechos de propiedad intelectual e industrial que puedan recaer sobre
        tal información, elemento o contenido.</li>
        <li> No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido
        que suponga una violación del secreto de las comunicaciones y la legislación de datos de carácter personal.</li>
        <li>  No difundir, transmitir o poner a disposición de terceros fotografías ni cualquier representación o imagen de
        personas menores de edad.</li>
        <li> No publicar anuncios de productos que requieran receta médica o que deban dispensarse bajo la supervisión de un
        médico (doctor, dentista, optometrista, óptico, farmacéutico o veterinario), así como los productos que puedan
        influir en la salud del individuo (que presenten contraindicaciones, interacciones, etc.) y perecederos de
        cualquier tipo.</li>
        <li> Disponer de autorización sanitaria de funcionamiento para publicar anuncios relacionados con cualquier actividad
        sanitaria (necesidad de presentar el número de colegiación o número de registro del centro).</li>
        <li>No crear valoraciones de transacciones no efectuadas.</li>
        <li> No reportar falsamente o incorrectamente de forma reiterada.</li>
        <li> Usar los servicios de Trashure correctamente. Por ejemplo, no crear cuentas de usuario para beneficiarse de
        promociones del servicio de envíos o para evitar el pago de suscripciones de profesionales.</li>
        <li> No extraer de forma sistemática ni reutilizar parte o todo el contenido de los Servicios de Trashure sin nuestro
        expreso consentimiento por escrito. En particular, no se permite el uso de herramientas o robots de búsqueda y
        extracción de datos para la extracción (ya sea en una o varias ocasiones) de partes sustanciales de los
        Servicios de Trashure para su reutilización sin nuestro expreso consentimiento por escrito.</li>
        <li>El Usuario se obliga a mantener indemne a Trashure ante cualquier posible reclamación, multa, pena o sanción que
        pueda venir obligada a soportar como consecuencia del incumplimiento por parte del Usuario de cualquiera de las
        normas de utilización antes indicadas, reservándose además Trashure el derecho a solicitar la indemnización por
        daños y perjuicios que corresponda.</li>
    </ul>


    <h4>Infracción por parte de los de Usuarios</h4>
    <p>
        Trashure se reserva el derecho a impedir el uso del Servicio, ya sea de forma temporal o definitiva,
        a cualquier Usuario que infrinja cualquiera de las normas establecidas en estos Términos
        y Condiciones, la ley o la moral.
    </p>

    <h4>Exclusión de responsabilidad</h4>
    <p>Trashure no es propietaria de ninguno de los artículos en venta o vendidos a través de su plataforma
        y no es parte en la transacción de compraventa llevada a cabo exclusivamente entre solicitantes y donantes
        ni revisa o valida los productos que los Usuarios ofrecen a través del Servicio,
        por lo que Trashure no será responsable, ni directa ni indirectamente, ni subsidiariamente,
        de los daños y perjuicios de cualquier naturaleza derivados de la utilización y contratación de los contenidos
        y de las actividades de los Usuarios y/o de terceros a través del Servicio así como de la falta de
        licitud, fiabilidad, utilidad, veracidad, exactitud, exhaustividad y actualidad de los mismos.
    </p>
    <p>
        Con carácter enunciativo, y en ningún caso limitativo, Trashure no será responsable por los daños y perjuicios
        de cualquier naturaleza derivados de:
    </p>
    <ul>
        <li>La utilización que los Usuarios hagan del Servicio ni por el estado, origen, posible inexactitud,
            o posible falsedad de los datos proporcionados por los Usuarios ni de los productos ofrecidos a través del
            Servicio.
        </li>

        <li>Los contenidos, informaciones, opiniones y manifestaciones de cualquier Usuario o de terceras personas
            o entidades que se comuniquen o exhiban a través del Servicio (incluye el envío de imágenes a través del
            chat).
        </li>
        <li>La utilización que los Usuarios puedan hacer de los materiales del Servicio, ya sean prohibidos o
            permitidos,
            en infracción de los derechos de propiedad intelectual y/o industrial, información confidencial,
            de contenidos del Servicio o de terceros.
        </li>
        <li>La realización de actos de competencia desleal y publicidad ilícita.</li>
        <li>La eventual pérdida de datos de los Usuarios por causa no atribuible al Servicio.</li>
        <li>El acceso de menores de edad a los contenidos incluidos en el Servicio.</li>
        <li>La indisponibilidad, errores, fallos de acceso y falta de continuidad del Servicio.</li>
        <li>Los fallos o incidencias que pudieran producirse en las comunicaciones, borrado o transmisiones
            incompletas.
        </li>
        <li>La no operatividad o problemas en la dirección de email facilitada por el Usuario.</li>
    </ul>
    <p>
        Trashure responderá única y exclusivamente frente al Usuario de los Servicios que preste.
    </p>


    <h4>Contenidos y servicios enlazados a través del Servicio</h4>
    <p>El Servicio puede incluir dispositivos técnicos de enlace, directorios e incluso instrumentos de búsqueda que
        permitan al Usuario acceder a otras páginas y portales de internet (en adelante, “Sitios Enlazados”).
    </p>
    <p>
        El Usuario reconoce y acepta que el acceso a los Sitios Enlazados será bajo su exclusivo riesgo y
        responsabilidad y exonera a Trashure de cualquier responsabilidad sobre eventuales vulneraciones de derechos de
        propiedad intelectual o industrial de los titulares de los Sitios Enlazados. Asimismo, el Usuario exonera a
        Trashure de cualquier responsabilidad sobre la disponibilidad técnica de las páginas web enlazadas, la calidad,
        fiabilidad, exactitud y/o veracidad de los servicios, informaciones, elementos y/o contenidos a los que el
        Usuario pueda acceder.
    </p>
    En estos casos, Trashure solo será responsable de los contenidos y servicios suministrados en los Sitios Enlazados
    en la medida en que tenga conocimiento efectivo de la ilicitud y no haya desactivado el enlace con la diligencia
    debida. En el supuesto de que el Usuario considere que existe un Sitio Enlazado con contenidos ilícitos o
    inadecuados podrá comunicárselo a Trashure, sin que en ningún caso esta comunicación conlleve la obligación de
    retirar el correspondiente enlace.
    </p>
    En ningún caso, la existencia de Sitios Enlazados debe presuponer la formalización de acuerdos con los responsables
    o titulares de los mismos, ni la recomendación, promoción o identificación de Trashure con las manifestaciones,
    contenidos o servicios proveídos. Trashure no conoce los contenidos y servicios de los Sitios Enlazados y, por
    tanto, no se hace responsable de forma directa o indirecta por los daños producidos por la ilicitud, calidad,
    desactualización, indisponibilidad, error e inutilidad de los contenidos y/o servicios de los Sitios Enlazados ni
    por cualquier otro daño que no sea directamente imputable a Trashure.
    </p>

    <h4>Propiedad intelectual e industrial</h4>
    Los derechos de propiedad industrial e intelectual sobre las obras, prestaciones protegidas y cualesquiera
    contenidos o elementos sobre los que recaigan derechos de propiedad intelectual e industrial que se usen en el
    Servicio (los “Contenidos del Servicio”) pertenecen a sus legítimos titulares. El Usuario no adquirirá por el uso
    del Servicio ningún derecho de propiedad intelectual o industrial, ni licencia de uso alguna sobre tales elementos.

    Son Contenidos del Servicio, los textos, fotografías, gráficos, imágenes, iconos, tecnología, software, bases de
    datos, y demás contenidos audiovisuales o sonoros, así como su diseño gráfico y códigos fuente utilizados en el
    Servicio. Esta enumeración se realiza a título enunciativo y ejemplificativo, no limitativo.

    El texto, las imágenes, los gráficos, los ficheros de sonido, los ficheros de animación, los ficheros de vídeo, el
    software y la apariencia del sitio web de Trashure son objeto de protección por derechos de propiedad intelectual e
    industrial. Esos elementos no podrán ser válida y legítimamente copiados o distribuidos para uso comercial, ni
    podrán ser modificados o insertados en otros sitios web sin previa autorización expresa de sus titulares.

    El Usuario manifiesta ser titular en exclusiva de todos los derechos que recaen sobre las obras, prestaciones
    protegidas y cualesquiera otros elementos protegidos por propiedad intelectual o industrial que incorpore en el
    Servicio (en adelante, los “Contenidos”).

    El Usuario cede gratuitamente y en exclusiva a Trashure los derechos de comunicación pública, reproducción,
    distribución y transformación que tiene sobre los Contenidos, en todas las modalidades de explotación existentes en
    la fecha de aceptación de estos Términos y Condiciones, por todo el tiempo de vigencia de los derechos objeto de
    cesión, para el ámbito territorial universal.

    Trashure no representa ni tiene vinculación empresarial alguna con las marcas que los Usuarios puedan anunciar en el
    Servicio.

    <h4>Publicación de anuncios</h4>
    <p>
        A la hora de publicar sus anuncios el Usuario deberá tener en cuenta algunas consideraciones, incluyendo las
        siguientes:
    </p>
    <ul>
        <li>
            No está permitido publicar anuncios con imágenes de contenido sexual.
        </li>
        <li>No está permitido publicar anuncios relacionados con el sexo, el erotismo o el fetichismo,
            así como tampoco relacionados con masajes, servicios de compañía o amistad.
        </li>
        <li>No está permitido anunciar esquemas piramidales o similares.</li>
        <li>Solo se permite anunciar un inmueble por anuncio. En tal caso, el inmueble debe anunciarse en la localidad
            en la que se encuentre.
        </li>
        <li>No está permitido publicar imágenes o descripciones que no se correspondan con el artículo realmente
            ofrecido.
        </li>
        <li>No está permitido publicar imágenes de menores de edad.</li>
        <li>No está permitido publicar anuncios relacionados con animales.</li>
        <li>Para algunas categorías existe un límite máximo de productos que se pueden publicar de manera gratuita.</li>
        <li> En cualquier caso, a la hora de publicar sus anuncios el Usuario deberá tomar en consideración
            las reglas de publicación.
        </li>
    </ul>
    <p>
        Por su parte, el Usuario interesado en adquirir un producto debe tener en cuenta que cuando se compromete a
        comprar un artículo, por un precio establecido, está suscribiendo un contrato de compraventa con otro Usuario.
        Asimismo, el Usuario deberá tener en cuenta que al adquirir un artículo, será considerado sujeto pasivo del
        Impuesto sobre Transmisiones Patrimoniales Onerosas y Actos Jurídicos Documentados (“ITPAJD”), modalidad TPO,
        obligándose a mantener a Trashure totalmente indemne en caso de no dar cumplimiento a dicha obligación.
    </p>
    <p>
        Los Usuarios que publiquen un anuncio de alquiler en algunos municipios de Cataluña deberán incluir el Índice de
        Precios de Referencia tal y como obliga la “Ley 11/2020, de 18 de septiembre, de medidas urgentes en materia de
        contención de rentas en los contratos de arrendamiento de vivienda” que entró en vigor en septiembre de 2020.
        Trashure se mantiene totalmente indemne en caso de no dar cumplimiento a dicha obligación.

    </p>
    <p></p>
    <h4>Servicio de envío de Trashure</h4>
    <p>Trashure no cuenta con un servicio de envío integrado. Los envíos, en caso de ser necesarios, correrán a cuenta y
        discreción de los involucrados
        en la transacción.
    </p>
    <p></p>


    <h4>Plataforma de pago</h4>
    <p> Al tratarse de una aplicación para la donación de productos, no existe plataforma de pago, pues todos los
        productos ofertados tienen un precio de cero euros.
    </p>
    <p></p>

    <h4>Seguridad</h4>
    <p>
        Tus datos podrán ser compartidos y tratados para la prevención del fraude o para la gestión de disputas.
    </p>
    <p></p>

    <h4>Mediaciones</h4>
    <p>
        Trashure es una aplicación que actúa como mero intermediario entre el donante y el solicitante. </p>
    <p>
        Trashure no es propietaria de ninguno de los artículos ofertados a través de su plataforma y
        no es parte en la transacción llevada a cabo exclusivamente entre donante y solicitante.
    </p>
    <p> Trashure no revisa ni valida los productos que los Usuarios ofrecen a través del servicio,
        por lo que no será en ningún caso responsable, ni directa ni indirectamente, ni subsidiariamente,
        de los daños y perjuicios de cualquier naturaleza derivados de la utilización y contratación de
        los contenidos y de las actividades de los Usuarios y/o de terceros a través del Servicio,
        así como tampoco será responsable de la falta de licitud, fiabilidad,
        utilidad, veracidad, exactitud, exhaustividad y actualidad de los mismos.
    </p>
    <p></p>

    <h4>Nulidad e ineficacia de las cláusulas</h4>
    <p>
        Si cualquier cláusula incluida en los presentes Términos y Condiciones fuese declarada total o parcialmente,
        nula o ineficaz, tal nulidad o ineficacia tan solo afectará a dicha disposición
        o a la parte de la misma que resulte nula o ineficaz, subsistiendo los presentes Términos
        y Condiciones en todo lo demás, considerándose tal disposición total o parcialmente por no incluida.
    </p>
    <p></p>

    <h4>Legislación aplicable y jurisdicción competente</h4>
    <p>Estos Términos y Condiciones se regirán e interpretarán conforme a la legislación española.
        En caso de litigio entre Trashure y el Usuario, éste podrá interponer su acción
        ante los tribunales españoles correspondientes al domicilio de Trashure, o bien ante los tribunales del lugar
        donde el Usuario esté domiciliado.
    </p>
    <p></p>
</div>

<div th:include="~{usuario/template_usuario.html::footer}"></div>

<!--div th:include="~{usuario/template_usuario.html::headerUsuarioNoLogged}"></div-->

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
