<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trashure App</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

    <link rel="icon" href="imagenes/favicon-32x32.png">


</head>

<body>

<!-- Navigation -->
<div th:include="admin/template_admin.html::header" th:unless="${adminLogged==null}"></div>

<!-- Page Content -->
<div class="container" style="padding-top:80px">


    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Trashure <small> - Perfil</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/api/v0/admin/principal}">Página principal</a></li>
        <li class="breadcrumb-item active">Perfil</li>
    </ol>

    <div class="card mb-4">
        <div class="card-body">
            <div class="row">

                <div class="col-lg-6">


                    <ul class="list-group">
                        <li class="list-group-item"><h5 th:text="'Usuario ' "></h5> <p th:text=" ${usuario.username} "><p></li>
                        <li class="list-group-item"><h5 th:text="'Localidad '"></h5> <p th:text="${usuario.localidad} "></p></li>
                        <!--li class="list-group-item"><h5 th:text="'Email: '"></h5> <p th:text="${usuario.email} "></p></li-->
                        <!--li class="list-group-item"><h5 th:text="'Contactar: '" > </h5><a th:href="@{/contactar/{idVendedor} (idVendedor=${usuario.idUsuario})}">${producto.idUsuario}</a></li-->

                    </ul>

                    <ul class="list-group">
                        <li class="list-group-item"><h5 th:text="'Opiniones sobre el usuario ' "></h5> <!--p th:text=" ${usuario.username} "><p--></li>

                    </ul>


                    <!--form th:action="@{/generarTransaccion/{idProducto}}" method="POST">
                      <input type="hidden" th:value="${producto.idProducto}" name="idProducto">
                      <button type="submit" class="btn btn-dark">Contactar</button>
                    </form-->

                </div>
            </div>
        </div>
    </div>
    <li class="list-group-item"><h5 th:text="'Productos del usuario' "></h5> <!--p th:text=" ${usuario.username} "><p--></li>

    <div class="row text-center">


        <div class="col-lg-3 col-md-6 mb-4" th:each="producto: ${productosDelPerfil}">
            <div class="card h-100">
                <!-- se establece el source de donde obtiene las imágenes: el directorio imagenes
                llamamos img a la variable-->
                <img class="card-img-top"
                     th:src="@{/imagenes/{img} (img=${producto.imagen})} " alt="">
                <div class="card-body">
                    <p class="card-text" th:text="${producto.nombre}"></p>
                </div>
                <!-- así se muestra la imagen y el nombre del producto-->
                <div class="card-footer">
                    <a th:href="@{/api/v0/admin/detalleProducto/{idProducto} (idProducto=${producto.idProducto})}" class="btn btn-success">Ver producto</a>
                </div>
            </div>
        </div>
        </form>
    </div>


</div>
<!-- /.container -->

<div th:include="admin/template_admin.html::footer"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>