<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trashure App</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
        rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

  <link rel="icon" href="imagenes/favicon-32x32.png">


</head>

<body>

<!-- Navigation -->
<div th:include="admin/template_admin.html::header" th:unless="${adminLogged==null}"></div>
<!--div th:include="admin/template_admin.html::header" th:unless="${adminLogged==null}"></div-->
<!--div th:include="admin/template_admin.html::headerAdminNoLogged" th:if="${adminLogged==null}"></div-->

<!-- Page Content -->
<div class="container" style="padding-top:80px">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Trashure<small> Transacciones</small></h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/api/v0/admin/principal}">Página principal</a></li>
    <li class="breadcrumb-item active">Transacciones</li>
  </ol>

  <form class="form-inline" method="GET" th:action="@{/api/v0/admin/filtrarTransacciones}">
    <div class="col-xs-12 col-md-6 col-lg-3">


      <p class="control-label" for="textoBusqueda">ID:</p>
      <input class="form-control" type="search"
             id="textoBusqueda"
             placeholder="ID..." aria-label="Search" name="textoBusqueda"
             autocomplete="off">
    </div>
    <!--button class="btn btn-outline-success my-2 my-sm-0" type="submit">BUSCAR</button-->

    <div class="col-xs-12 col-md-6 col-lg-3">
      <p class="control-label" for="tipoId">Tipo de ID:</p>

      <!--form th:action="@{/filtrarProductos}" method="GET"-->
      <select class="form-control" id="tipoId" name="tipoId">
        <option value="Transaccion" selected>ID Transacción</option>
        <option value="Solicitante" >ID Solicitante</option>
        <option value="Donante">ID Donante</option>
        <option value="Producto">ID Producto</option>
      </select>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-3">
      <button class="btn btn-success" type="submit">
        Filtrar transacciones</button>

    </div>

  </form>

<p></p>
  <!-- Blog Post -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">ID Transacción</th>
              <th scope="col">Fecha transacción</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Comprador</th>
              <th scope="col">Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaccion:${listaTransacciones}">
              <td th:text="${transaccion.idTransaccion}"></td>
              <td th:text="${transaccion.fechaTransaccion}"></td>
              <td> <a th:href= "@{/api/v0/admin/visitarPerfil/{idVendedor} (idVendedor=${transaccion.idVendedor})}"> <p
                      th:text="${transaccion.idVendedor}"></p> </a></td>
              <td> <a th:href= "@{/api/v0/admin/visitarPerfil/{idComprador} (idComprador=${transaccion.idComprador})}"> <p
                      th:text="${transaccion.idComprador}"></p> </a></td>

              <td th:text="${transaccion.estado}"></td>
              <!-- MAYBE AÑADIR UNA FUNCIONALIDAD PARA QUE EL ADMINISTRADOR PUEDA ELIMINAR LA TRANSACCION??-->
              <!--td><a th:href="@{/administrador/detalle/{id} (id=${orden.id}) }" class="btn btn-success">Ver
                Detalle</a></td-->
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->

<!-- Footer -->
<div th:include="admin/template_admin.html::footer"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>