<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trashure App</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
        rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

  <link rel="icon" href="imagenes/favicon-32x32.png">


</head>

<body>

<!-- Navigation -->
<div th:include="admin/template_admin.html::header" ></div>
<!--div th:include="admin/template_admin.html::header" th:unless="${adminLogged==null}"></div-->
<!--div th:include="admin/template_admin.html::header" th:if="${adminLogged==null}"></div-->

<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Trashure <small>Usuarios</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Página Principal</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
  </ol>
  <h2>Usuarios</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID Usuario</th>
      <th scope="col">Username</th>
      <th scope="col">E-mail</th>
      <th scope="col">Dirección</th>
      <th scope="col">ACCIÓN</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario:${listaUsuarios}">
      <td th:text="${usuario.idUsuario}"></td>
      <td th:text="${usuario.username}"></td>
      <td th:text="${usuario.email}"></td>
      <td th:text="${usuario.direccion}"></td>
      <!--td><a th:href="@{/deleteFavorito/{idProducto} (idProducto=${favorito.idProducto})}"
                         class="btn btn-danger">Eliminar</a></td-->
      <td><a th:href="@{/delete/{idUsuario} (idUsuario=${usuario.idUsuario})}"
             class="btn btn-danger">Eliminar</a></td>
    </tr>
    </tbody>
  </table>

</div>
<!-- /.container -->

<!-- Footer -->
<div th:include="admin/template_admin.html::footer"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>