<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trashure</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

    <link rel="icon" href="imagenes/favicon-32x32.png">


</head>

<body>

<!-- Navigation -->
<div th:include="admin/template_admin.html::header" th:unless="${adminLogged==null}"></div>

<!-- Page Content -->
<div class="container" style="padding-top:80px">


    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Trashure <small>Productos</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Página principal</a></li>
        <li class="breadcrumb-item active">Ver Productos</li>
    </ol>

    <a class="btn btn-primary" th:href="@{/api/v0/productos/crearProductos}" >Subir producto</a>
    <h2>Productos</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">ID Producto</th>
            <th scope="col">Descripción</th>
            <th scope="col">ID Propietario</th>
            <!--th scope="col">Acción</th-->
            <th scope="col">Acción</th>
        </tr>
        </thead>
        <tbody>

        <!-- Con th:each se recorre una lista de los productos que le llegan del GetProductoController-->
        <tr th:each="producto:${listaProductos}">
            <td><a> <img class="img-fluid rounded" th:src="@{/imagenes/{imagenProducto}
                    (imagenProducto=${producto.imagen})}" alt="Imagen producto" width="50" height="50">
            </a></td>
            <td th:text="${producto.nombre}"></td>
            <td th:text="${producto.idProducto}"></td>
            <td th:text="${producto.descripcion}"></td>
            <td th:text="${producto.id}"></td>
            <!--td th:text="${producto.disponibilidad}"></td-->
            <!--td><a  class="btn btn-warning" th:href="@{/api/v0/productos/editarProducto/{idProducto} (idProducto=${producto.idProducto}) }">Editar</a> </td-->
            <td><a  class="btn btn-danger" th:href="@{/api/v0/productos/delete/{idProducto} (idProducto=${producto.idProducto}) }">Eliminar</a> </td>
        </tr>
        </tbody>
    </table>

</div>
<!-- /.container -->
<div th:include="admin/template_admin.html::footer" ></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>